/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* base styling */
:root {
  --primary-color: #0b9586;
  --sec-color: #FFFFFF;
  --third-color:#FFBB1C;
  --btn-color: #3CAB90;
  --listing-color :#84BD3A;
  --text-color:#101828;
  --footer-color:#283646;
  --footer-text-color:#92989F;
  --shadow-color: #475467;
}

/* Global styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* header styling */
header {
  width: 100%;
  height: 86px;
  background: var(--primary-color);
  position: fixed;
  top: 0;
  z-index: 9;
  isolation: isolate;
}

.container{
  margin: 0 auto;
  padding: 16px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.logo {
  width: 157px;
  height: 54px;
  object-fit: cover;
  cursor: pointer;
  mix-blend-mode: multiply;
}

/* nav styling  */
.nav-list {
  list-style: none;
  display: flex;
  gap: 10px;
}

.items {
  width: auto;
  padding: 8px 0;
}

.items a {
  padding: 8px 28px;
  text-decoration: none;
  color: var(--sec-color);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.active a , .items:hover a {
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

/* nav icon */
.menu-icon{
  display: none;
  cursor: pointer;
  z-index: 999;
}

.menu-icon span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--sec-color);
  transition: all 0.3s ease-in-out
}

#menu-toggle {
  display: none;
}

.header-contact{
  display: flex;
  flex-direction: column;
  text-align: right;
  color: var(--sec-color);
}

.header-contact span {
  font-size: 18px;
  font-weight: 400;
}

.header-contact a {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.94px;
  font-weight: 700;
  color: var(--sec-color);
  text-decoration: none;
}

/* hero section */
.hero {
  width: 100%;
  height: 100vh;
  background: url('./assests//images/solarPanels.png') no-repeat center center/cover;
  position: relative;
  overflow: hidden;
  color: var(--sec-color);
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-container{
  position: relative;
  z-index: 2;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.paginationBar{
  display: flex;
  align-items: center;
  margin: 50px 0;
  gap: 30px;
  width: 323px;

}

.paginationBar .page-numbering{
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
}

.paginationBar .line-soft {
  width: 220px;
  height: 4px;
  background: #575757;
  border-radius: 3.75px;
  position: relative;
}

.line-soft::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 89px;
  height: 100%;
  background: var(--sec-color);
  border-radius: 3.75px;
  z-index: 1;
}


.heading1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: -2%;
}

.hero-paragraph{
  width: 700px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
}

.btns {
  width: 405px;
  display: flex;
  gap: 10px;
}

.btns .btn , 
.section3-content > button {
  width: 173px;
  height: 41px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  border-radius: 109px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 8%;
  cursor: pointer;
}

.btns .btn1{
  background-color: var(--btn-color);
  color: var(--sec-color);
}

.btns .btn2 ,
.section3-content > button {
  background-color: var(--third-color);
  color: var(--text-color);
}

/* section 2 styling */
.secrion2 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.section2  .section2-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px;
  width: 100%;
  height: 100%;
  margin: 50px 0;
}

.section2-content > div:first-child {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 50px
}

.section2-content > div:first-child .text{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section2-content > div:first-child .text h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -2%;
}

.section2-content > div:first-child .text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color:rgba(71, 84, 103, 1);
}

.section2-content > div:first-child .list{
  list-style-type: none;
  counter-reset: item;
}

.section2-content > div:first-child .list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  justify-content: flex-start;
}

.section2-content > div:first-child .list li::before {
  content: "0" counter(item) "/";
  counter-increment: item;
  font-size: 20px;
  color: var(--listing-color);
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 4px;
  margin-right: 5px;
}

.section2-content > div:last-child {
  display: flex;
  flex-direction: column;
  position: relative;
}

.section2-content > div:last-child .solar-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
}

.section2-content > div:last-child .side-solar-image{
  position: absolute;
  width: 266px;
  height: 208px;
  background: var(--third-color);
  border-radius:12px;
  padding: 24px 30px;
  bottom:10px;
  left: -50px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
}

.section2-content > div:last-child .side-solar-image p {
  width: 206px;
  height: 42px;
  font-weight: 400;
  font-size: 15px;
  line-height:  20px;
  letter-spacing: 0.94px;
}

/* section 3*/
.section3{
  width: 100%;
  height: 90vh;
  background: url('./assests/images/windmill.png') no-repeat center center/cover;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.section3-content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.section3-content > h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 100%;
  letter-spacing: -2%;
  color: var(--sec-color);
  margin-bottom: 32px;
}

.section3-content > p {
  width: 678px;
  height: 56px;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--sec-color);
  margin-bottom: 50px;
}





@media (max-width:1300px){
  .container{
    padding: 0 20px;
  }
}

@media (max-width:1125px){
  .container{
    padding: 0;
  }

  .header-contact{
    display: none;
  }

  .items a {
    font-size: 16px;
  }

  .section2-content > div:first-child .text h1 {
    font-size: 30px;
  }
  
  .section2-content > div:first-child .text p ,
  .section2-content > div:first-child .list li , 
  .section2-content > div:first-child .list li::before,
  .section2-content > div:last-child .side-solar-image p  {
    font-size: 12px;
  }

  .section2-content > div:last-child .side-solar-image{
    left: -20px;
  }

  
  .section3-content > h1 {
    font-size: 38px;
  }

  .section3-content > p {
    width: 400px;
  }
}


@media (max-width:764px) {
  /* header styling*/
  .logo{
    min-width: 100px;
    height: 45px;
  }

  .menu-icon {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #101828;
    width: 100%;
    flex-direction: column;
    padding:2rem 0;
    display: none;
    overflow: hidden;
    isolation: isolate;
  }

  .active a , .items:hover a {
    border-radius: 0;    
    box-shadow: none;
  }

  .items:hover a {
    color: var(--primary-color);
  }

  /* Show the navigation links when the checkbox is checked */
  #menu-toggle:checked ~ .nav-list {
    display: flex;
    z-index: 9999;
  }

  /* Animate the hamburger icon into an "X" */
  #menu-toggle:checked ~ .menu-icon span:nth-child(1){
    transform: rotate(45deg) translate(5px, 6px);
  }

  #menu-toggle:checked ~ .menu-icon span:nth-child(2){
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu-icon span:nth-child(3){
    transform: rotate(-45deg) translate(5px, -6px);
  }

  /*hero styling*/
  .heading1 
  .section2-content > div:first-child .text h1  {
    font-size: 45px;
  }

  .hero-paragraph{
    font-size: 15px;
    max-width: 450px;
  }

  /* section 2 styling */
  .section2  .section2-content{
    grid-template-columns: repeat(1, 1fr);
  }

  .section2-content > div:first-child .text p {
    font-size: 15px;
  }

  .section2-content > div:first-child .list li {
    font-size: 17px;
  }

  .section2-content > div:first-child .list li::before {
    font-size: 20px;
  }

  .section2-content > div:last-child {
    display: none;
  }

  .section3-content > h1 {
    font-size: 32px;
  }

  .section3-content > p {
    width: 420px;
    font-size: 16px;
    margin-bottom: 32px;
  }
}

@media (max-width:530px) {
  .hero-content{
    z-index: 0;
  }

  .heading1 , 
  .section2-content > div:first-child .text h1
  , .section3-content > h1 {
    font-size: 35px;
  }

  .hero-paragraph ,
  .section2-content > div:first-child .text p ,
  .section2-content > div:first-child .list li,
  .section2-content > div:first-child .list li::before {
    font-size: 14px;
    max-width: 390px;
    line-height: 20px;
  }

  .btns .btn ,
  .section3-content > button  {
    width: 110px;
    height: 30px;
    padding: 15px 5px;
    font-size: 10px;
  }

  .section3-content > p {
    width: 350px;
    font-size: 15px;
  }


}

@media (max-width:430px) {
  .heading1 ,
  .section2-content > div:first-child .text h1
  , .section3-content > h1 {
    font-size: 27px;
  }

  .hero-paragraph ,
  .section2-content > div:first-child .text {
    font-size: 10px;
    max-width: 300px;
    line-height: 15px;
  }

  .section2-content > div:first-child .list li,
  .section2-content > div:first-child .list li::before {
    font-size: 12px;
  }

  .paginationBar{
    display: none;
  }

  .btns .btn , 
  .section3-content > button {
    width: 110px;
    height: 30px;
    padding: 15px 5px;
    font-size: 10px;
  }
  .section3-content > p {
    width: 200px;
    font-size: 12px;
  }

}